---
import type { Category, Game } from "@/domains/entities/category";

type Props = {
    game: Game;
    categories: Category[];
    currentCategoryId?: string;
};

const { game, categories, currentCategoryId } = Astro.props;
---

<div class="p-4 bg-base-300 rounded-md">
    <h2 class="mb-2 font-bold text-lg">{game}</h2>
    <div
        class="flex space-x-1.5 space-y-2 flex-wrap overflow-y-scroll max-h-30"
    >
        {
            categories.map((category) => (
                <a
                    href={`/categories/${category.id}`}
                    class={`btn btn-sm ${currentCategoryId === category.id ? "btn-error" : ""}`}
                >
                    {category.name}
                </a>
            ))
        }
    </div>
</div>
