---
import type { Category, Game } from "@/domains/entities/category";

type Props = {
    game: Game;
    categories: Category[];
};

const { game, categories } = Astro.props;
---

<div class="shadow-md p-4">
    <h3 class="mb-2 font-bold">{game}</h3>
    <div
        class="flex space-x-1.5 space-y-2 flex-wrap overflow-y-scroll max-h-30"
    >
        {
            categories.map((category) => (
                <a href={`/categories/${category.id}`} class="button">
                    {category.name}
                </a>
            ))
        }
    </div>
</div>
