---
import { getCollection } from "astro:content";
import CategorySection from "@/components/category-section.astro";
import type { Game } from "@/domains/entities/category";
import type { Song } from "@/domains/entities/song";
import SongList from "@/components/song-list.astro";

type Props = {
    currentCategoryId?: string;
    songs?: Song[];
    noCategorySelected?: boolean;
};

const {
    currentCategoryId,
    songs = [],
    noCategorySelected = false,
} = Astro.props;

const perGameCategories = (await getCollection("categories")).toSorted(
    (a, b) => a.data.sortOrder - b.data.sortOrder,
);
---

<div class="container mx-auto mt-5 flex flex-col gap-6">
    <div class="flex flex-col gap-4">
        {
            perGameCategories.map((categories) => (
                <CategorySection
                    game={categories.data.id as Game}
                    categories={categories.data.categories}
                    currentCategoryId={currentCategoryId}
                />
            ))
        }
    </div>
    {
        noCategorySelected ? (
            <p>カテゴリーを選択してください</p>
        ) : songs.length > 0 ? (
            <SongList songs={songs} />
        ) : (
            <p>楽曲が見つかりません</p>
        )
    }
</div>
